# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
assets_raw/others/Barrel1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Bisaya[[:space:]]banana.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Kuya[[:space:]]Zen[[:space:]]Political[[:space:]]ad.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Kuya[[:space:]]Zen[[:space:]]Political[[:space:]]Poster.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Unfinished[[:space:]]Building[[:space:]]1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/House[[:space:]]v1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Basketball[[:space:]]Ring[[:space:]]1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Cinder[[:space:]]Blocks.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Grava2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Area[[:space:]]Building.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/factory.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/house[[:space:]]plywood.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Random[[:space:]]Building1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/monster/Lando.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Court[[:space:]]Rim.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Court[[:space:]]Rim2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Cylinder[[:space:]]Concrete.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/2[[:space:]]Storey[[:space:]]building.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Roof[[:space:]]Fence[[:space:]]v2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/House[[:space:]]v2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Roof[[:space:]]Fence[[:space:]]v3.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/house[[:space:]]plywood2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Fuso.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Missing[[:space:]]Children[[:space:]]Wall.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Modular[[:space:]]Block[[:space:]]Wall[[:space:]]Variant2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Modular[[:space:]]Block[[:space:]]Wall[[:space:]]Variant3.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Roof[[:space:]]Fence[[:space:]]v1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Barrel2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/grass/grass2.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Lamp[[:space:]]Post.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Covered[[:space:]]Court.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/grass/grass.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/monster/Lando[[:space:]]Idle.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/monster/Lando[[:space:]]Walk.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Plank.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Trashbags.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tall[[:space:]]house1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Chopped[[:space:]]Wood[[:space:]]Hut.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Grava1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Water[[:space:]]Pump[[:space:]]Outlet.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Modular[[:space:]]Block[[:space:]]Wall[[:space:]]Variant1.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Chapel.glb filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Cylinder[[:space:]]Concrete_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/others/Water[[:space:]]Pump[[:space:]]Outlet_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/house[[:space:]]plywood2_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close_Steel[[:space:]]Sheet.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close_2666b8294cdcd313ec1e0934532f5771.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open_2666b8294cdcd313ec1e0934532f5771.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/walls/Roof[[:space:]]Fence[[:space:]]v2_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/2[[:space:]]Storey[[:space:]]building_2666b8294cdcd313ec1e0934532f5771.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Chapel_2532a551-0525-4265-8dad-311697b7bd0f-scaled.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open_Steel[[:space:]]Sheet.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Random[[:space:]]Building1_Steel[[:space:]]Sheet.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]open_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store_Steel[[:space:]]Sheet.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open_ROof[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Open_Tin[[:space:]]can[[:space:]]top.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Tindahan2[[:space:]]close_Concrete.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Close_27d47b61f43b14a36fb2a758f4f9e576.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Modern[[:space:]]Sari[[:space:]]Sari[[:space:]]Store[[:space:]]Open_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
assets_raw/buildings/Normelita[[:space:]]Store[[:space:]]Close_Tin[[:space:]]Can.jpg filter=lfs diff=lfs merge=lfs -text
**/*.jpg filter=lfs diff=lfs merge=lfs -text
**/*.png filter=lfs diff=lfs merge=lfs -text
**/*.glb filter=lfs diff=lfs merge=lfs -text
